userdefinedxmltag/src/main/resources/META-INF/datasource.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
        xmlns="http://github.com/wanglaibao/schema/datasource"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:beans="http://www.springframework.org/schema/beans"
        targetNamespace="http://github.com/wanglaibao/schema/datasource"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified">

    <xsd:import namespace="http://www.springframework.org/schema/beans"/>

    <xsd:element name="datasource">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="beans:identifiedType">
                    <xsd:attribute name="url" type="xsd:string" />
                    <xsd:attribute name="userName" type="xsd:string" />
                    <xsd:attribute name="passWord" type="xsd:string" />
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>