userdefinedxmltag/src/main/resources/META-INF/person.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://github.com/wanglaibao/schema/person"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             targetNamespace="http://github.com/wanglaibao/schema/person">

    <xsd:complexType name="elementNameComplexType">
          <xsd:attribute name="name" type="xsd:string">
              <xsd:annotation>
                  <xsd:documentation><![CDATA[The person name]]></xsd:documentation>
              </xsd:annotation>
          </xsd:attribute>

        <xsd:attribute name="address" type="xsd:string">
            <xsd:annotation>
                <xsd:documentation><![CDATA[The person address]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>

          <xsd:attribute name="age" type="xsd:int">
              <xsd:annotation>
                  <xsd:documentation><![CDATA[ The person age]]></xsd:documentation>
              </xsd:annotation>
          </xsd:attribute>
    </xsd:complexType>


    <xsd:element name="person" type="elementNameComplexType">
         <xsd:annotation>
             <xsd:documentation><![CDATA[document for person]]></xsd:documentation>
         </xsd:annotation>
    </xsd:element>

</xsd:schema>